description = "Main Navigation Links"

[viewBag]
==
<li>
    <a href="#" class="block py-2 pl-3 pr-4 text-white bg-sky-900 hover:bg-sky-950 rounded md:bg-transparent md:hover:bg-transparent md:text-blue-400 md:p-0" aria-current="page">About</a>
</li>
<li>
    <a href="#" class="block py-2 pl-3 pr-4 text-black rounded hover:text-white hover:bg-sky-950 md:text-white md:hover:bg-transparent md:border-0 md:hover:text-blue-400 md:p-0 dark:text-white">Layouts</a>
</li>
<li>
    <a href="#" class="block py-2 pl-3 pr-4 text-black rounded hover:text-white hover:bg-sky-950 md:text-white md:hover:bg-transparent md:border-0 md:hover:text-blue-400 md:p-0 dark:text-white">Blocks</a>
</li>
<li>
    <a href="#" class="block py-2 pl-3 pr-4 text-black rounded hover:text-white hover:bg-sky-950 md:text-white md:hover:bg-transparent md:border-0 md:hover:text-blue-400 md:p-0 dark:text-white">Documentation</a>
</li>