description = "Default Navbar and Default Footer"
==
{% if pageTitle is empty %}
    {% if this.page.meta_title %}
        {% set pageTitle = this.page.meta_title %}
    {% elseif this.page.title %}
        {% set pageTitle = this.page.title %}
    {% endif %}
{% endif %}
<!DOCTYPE html>
<html lang="en" class="h-full tracking-normal">
    {% partial "html/head" %}
    {% set pageId = this.page.id %}
    {% if pageId is empty %}
        {% set pageId = page.id %}
    {% endif %}
    {% partial "nav/default-top-navbar" %}
    <body class="page-{{ pageId }} layout-{{ this.layout.id }} flex flex-col h-full dark:bg-zinc-800">
        <div class="container">
            {% page %}
        </div>

        {% partial "site/footer" %}
    </body>
</html>