==
<?php
use Cms\Classes\Asset;
use Cms\Classes\Theme;
function onStart() {
    // Cache bust the main styles file
    $styles = (new Asset(Theme::getActiveTheme()))->find('dist/css/theme.css');
    if ($styles) {
        $this['lastmodified'] = $styles->mtime;
    } else {
        throw new \Exception("Asset files were not detected, try running artisan mix:install && artisan mix:compile -p theme-frostbite");
    }
}
?>
==
<!-- Mix Generated Theme CSS -->
<link rel="stylesheet" href="{{ 'assets/dist/css/theme.css' | theme }}?v={{ lastmodified }}">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">

<style>
    :root {
        --base: {{ this.theme.color_base }};
        --base-alt: {{ this.theme.color_base_alt }};
        --base-content: {{ this.theme.color_base_content }};
        --base-dark: {{ this.theme.color_base_dark }};
        --base-dark-alt: {{ this.theme.color_base_dark_alt }};
        --base-dark-content: {{ this.theme.color_base_dark_content }};
        --nav: {{ this.theme.color_nav }};
        --nav-content: {{ this.theme.color_nav_content }};
        --nav-hover-content: {{ this.theme.color_nav_hover_content }};
        --nav-focus-content: {{ this.theme.color_nav_focus_content }};
        --nav-dark: {{ this.theme.color_nav_dark }};
        --nav-dark-content: {{ this.theme.color_nav_dark_content }};
        --nav-hover-dark-content: {{ this.theme.color_nav_hover_dark_content }};
        --nav-focus-dark-content: {{ this.theme.color_nav_focus_dark_content }};
        --nav-button-content: {{ this.theme.color_nav_button_content }};
        --nav-button-hover: {{ this.theme.color_nav_button_hover }};
        --nav-button-hover-content: {{ this.theme.color_nav_button_hover_content }};
        --nav-button-focus: {{ this.theme.color_nav_button_focus }};
        --nav-button-focus-content: {{ this.theme.color_nav_button_focus_content }};
        --nav-button-dark-content: {{ this.theme.color_nav_button_dark_content }};
        --nav-button-dark-hover: {{ this.theme.color_nav_button_dark_hover }};
        --nav-button-dark-hover-content: {{ this.theme.color_nav_button_dark_hover_content }};
        --nav-button-dark-focus: {{ this.theme.color_nav_button_dark_focus }};
        --nav-button-dark-focus-content: {{ this.theme.color_nav_button_dark_focus_content }};
        --sidenav: {{ this.theme.color_sidenav }};
        --sidenav-content: {{ this.theme.color_sidenav_content }};
        --sidenav-hover-content: {{ this.theme.color_sidenav_hover_content }};
        --sidenav-focus-content: {{ this.theme.color_sidenav_focus_content }};
        --sidenav-dark: {{ this.theme.color_sidenav_dark }};
        --sidenav-dark-content: {{ this.theme.color_sidenav_dark_content }};
        --sidenav-hover-dark-content: {{ this.theme.color_sidenav_hover_dark_content }};
        --sidenav-focus-dark-content: {{ this.theme.color_sidenav_focus_dark_content }};
        --sidenav-button-content: {{ this.theme.color_sidenav_button_content }};
        --sidenav-button-hover: {{ this.theme.color_sidenav_button_hover }};
        --sidenav-button-hover-content: {{ this.theme.color_sidenav_button_hover_content }};
        --sidenav-button-focus: {{ this.theme.color_sidenav_button_focus }};
        --sidenav-button-focus-content: {{ this.theme.color_sidenav_button_focus_content }};
        --sidenav-button-dark-content: {{ this.theme.color_sidenav_button_dark_content }};
        --sidenav-button-dark-hover: {{ this.theme.color_sidenav_button_dark_hover }};
        --sidenav-button-dark-hover-content: {{ this.theme.color_sidenav_button_dark_hover_content }};
        --sidenav-button-dark-focus: {{ this.theme.color_sidenav_button_dark_focus }};
        --sidenav-button-dark-focus-content: {{ this.theme.color_sidenav_button_dark_focus_content }};
        --footer: {{ this.theme.color_footer }};
        --footer-content: {{ this.theme.color_footer_content }};
        --footer-hover-content: {{ this.theme.color_footer_hover_content }};
        --footer-focus-content: {{ this.theme.color_footer_focus_content }};
        --footer-dark: {{ this.theme.color_footer_dark }};
        --footer-dark-content: {{ this.theme.color_footer_dark_content }};
        --footer-hover-dark-content: {{ this.theme.color_footer_hover_dark_content }};
        --footer-focus-dark-content: {{ this.theme.color_footer_focus_dark_content }};
        --copyright: {{ this.theme.color_copyright }};
        --copyright-content: {{ this.theme.color_copyright_content }};
        --copyright-hover-content: {{ this.theme.color_copyright_hover_content }};
        --copyright-focus-content: {{ this.theme.color_copyright_focus_content }};
        --copyright-dark: {{ this.theme.color_copyright_dark }};
        --copyright-dark-content: {{ this.theme.color_copyright_dark_content }};
        --copyright-hover-dark-content: {{ this.theme.color_copyright_hover_dark_content }};
        --copyright-focus-dark-content: {{ this.theme.color_copyright_focus_dark_content }};
        --primary: {{ this.theme.color_primary }};
        --primary-content: {{ this.theme.color_primary_content }};
        --primary-hover: {{ this.theme.color_primary_hover }};
        --primary-hover-content: {{ this.theme.color_primary_hover_content }};
        --primary-focus: {{ this.theme.color_primary_focus }};
        --primary-focus-content: {{ this.theme.color_primary_focus_content }};
        --primary-dark: {{ this.theme.color_primary_dark }};
        --primary-dark-content: {{ this.theme.color_primary_dark_content }};
        --primary-dark-hover: {{ this.theme.color_primary_dark_hover }};
        --primary-dark-hover-content: {{ this.theme.color_primary_dark_hover_content }};
        --primary-dark-focus: {{ this.theme.color_primary_dark_focus }};
        --primary-dark-focus-content: {{ this.theme.color_primary_dark_focus_content }};
        --secondary: {{ this.theme.color_secondary }};
        --secondary-content: {{ this.theme.color_secondary_content }};
        --secondary-hover: {{ this.theme.color_secondary_hover }};
        --secondary-hover-content: {{ this.theme.color_secondary_hover_content }};
        --secondary-focus: {{ this.theme.color_secondary_focus }};
        --secondary-focus-content: {{ this.theme.color_secondary_focus_content }};
        --secondary-dark: {{ this.theme.color_secondary_dark }};
        --secondary-dark-content: {{ this.theme.color_secondary_dark_content }};
        --secondary-dark-hover: {{ this.theme.color_secondary_dark_hover }};
        --secondary-dark-hover-content: {{ this.theme.color_secondary_dark_hover_content }};
        --secondary-dark-focus: {{ this.theme.color_secondary_dark_focus }};
        --secondary-dark-focus-content: {{ this.theme.color_secondary_dark_focus_content }};
        --accent: {{ this.theme.color_accent }};
        --accent-content: {{ this.theme.color_accent_content }};
        --accent-hover: {{ this.theme.color_accent_hover }};
        --accent-hover-content: {{ this.theme.color_accent_hover_content }};
        --accent-focus: {{ this.theme.color_accent_focus }};
        --accent-focus-content: {{ this.theme.color_accent_focus_content }};
        --accent-dark: {{ this.theme.color_accent_dark }};
        --accent-dark-content: {{ this.theme.color_accent_dark_content }};
        --accent-dark-hover: {{ this.theme.color_accent_dark_hover }};
        --accent-dark-hover-content: {{ this.theme.color_accent_dark_hover_content }};
        --accent-dark-focus: {{ this.theme.color_accent_dark_focus }};
        --accent-dark-focus-content: {{ this.theme.color_accent_dark_focus_content }};
    }
</style>

{% styles %}
{% placeholder head %}